WrapperStub/WrapperStub/Service References/WrapperService/AtiWrapperServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AtiWrapperServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54015/AtiWrapperServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54015/AtiWrapperServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54015/AtiWrapperServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AtiWrapperServices" />
      <xsd:import schemaLocation="http://localhost:54015/AtiWrapperServices.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AtiWrapperServices.AtiWrapperServicesEnums" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAtiWrapperServices_WrapperServiceByCustomerName_InputMessage">
    <wsdl:part name="parameters" element="tns:WrapperServiceByCustomerName" />
  </wsdl:message>
  <wsdl:message name="IAtiWrapperServices_WrapperServiceByCustomerName_OutputMessage">
    <wsdl:part name="parameters" element="tns:WrapperServiceByCustomerNameResponse" />
  </wsdl:message>
  <wsdl:message name="IAtiWrapperServices_WrapperServiceByCustomerNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:WrapperServiceByCustomerNumber" />
  </wsdl:message>
  <wsdl:message name="IAtiWrapperServices_WrapperServiceByCustomerNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:WrapperServiceByCustomerNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IAtiWrapperServices_WrapperServiceByCustomerNameAndServiceMode_InputMessage">
    <wsdl:part name="parameters" element="tns:WrapperServiceByCustomerNameAndServiceMode" />
  </wsdl:message>
  <wsdl:message name="IAtiWrapperServices_WrapperServiceByCustomerNameAndServiceMode_OutputMessage">
    <wsdl:part name="parameters" element="tns:WrapperServiceByCustomerNameAndServiceModeResponse" />
  </wsdl:message>
  <wsdl:message name="IAtiWrapperServices_AddNewServiceProxy_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewServiceProxy" />
  </wsdl:message>
  <wsdl:message name="IAtiWrapperServices_AddNewServiceProxy_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewServiceProxyResponse" />
  </wsdl:message>
  <wsdl:portType name="IAtiWrapperServices">
    <wsdl:operation name="WrapperServiceByCustomerName">
      <wsdl:input wsaw:Action="http://tempuri.org/IAtiWrapperServices/WrapperServiceByCustomerName" message="tns:IAtiWrapperServices_WrapperServiceByCustomerName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAtiWrapperServices/WrapperServiceByCustomerNameResponse" message="tns:IAtiWrapperServices_WrapperServiceByCustomerName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WrapperServiceByCustomerNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IAtiWrapperServices/WrapperServiceByCustomerNumber" message="tns:IAtiWrapperServices_WrapperServiceByCustomerNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAtiWrapperServices/WrapperServiceByCustomerNumberResponse" message="tns:IAtiWrapperServices_WrapperServiceByCustomerNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WrapperServiceByCustomerNameAndServiceMode">
      <wsdl:input wsaw:Action="http://tempuri.org/IAtiWrapperServices/WrapperServiceByCustomerNameAndServiceMode" message="tns:IAtiWrapperServices_WrapperServiceByCustomerNameAndServiceMode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAtiWrapperServices/WrapperServiceByCustomerNameAndServiceModeResponse" message="tns:IAtiWrapperServices_WrapperServiceByCustomerNameAndServiceMode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewServiceProxy">
      <wsdl:input wsaw:Action="http://tempuri.org/IAtiWrapperServices/AddNewServiceProxy" message="tns:IAtiWrapperServices_AddNewServiceProxy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAtiWrapperServices/AddNewServiceProxyResponse" message="tns:IAtiWrapperServices_AddNewServiceProxy_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAtiWrapperServices" type="tns:IAtiWrapperServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WrapperServiceByCustomerName">
      <soap:operation soapAction="http://tempuri.org/IAtiWrapperServices/WrapperServiceByCustomerName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WrapperServiceByCustomerNumber">
      <soap:operation soapAction="http://tempuri.org/IAtiWrapperServices/WrapperServiceByCustomerNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WrapperServiceByCustomerNameAndServiceMode">
      <soap:operation soapAction="http://tempuri.org/IAtiWrapperServices/WrapperServiceByCustomerNameAndServiceMode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewServiceProxy">
      <soap:operation soapAction="http://tempuri.org/IAtiWrapperServices/AddNewServiceProxy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AtiWrapperServices">
    <wsdl:port name="BasicHttpBinding_IAtiWrapperServices" binding="tns:BasicHttpBinding_IAtiWrapperServices">
      <soap:address location="http://localhost:54015/AtiWrapperServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>