NW_QP/Service References/AtiWrapperServices/WrapperService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://mtdog:81/WrapperService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WrapperService" />
  <xs:element name="TestService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parameters" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WrapperService" minOccurs="0" name="TestServiceResult" nillable="true" type="q1:WrapperResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductionService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parameters" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductionServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WrapperService" minOccurs="0" name="ProductionServiceResult" nillable="true" type="q2:WrapperResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WrapperServiceByCustomerName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serviceParameters" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WrapperServiceByCustomerNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WrapperService" minOccurs="0" name="WrapperServiceByCustomerNameResult" nillable="true" type="q3:WrapperResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WrapperServiceByCustomerNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerNumber" type="xs:int" />
        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serviceParameters" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WrapperServiceByCustomerNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WrapperService" minOccurs="0" name="WrapperServiceByCustomerNumberResult" nillable="true" type="q4:WrapperResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WrapperServiceByCustomerNameAndServiceMode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WrapperService" minOccurs="0" name="serviceMode" type="q5:ServiceMode" />
        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serviceParameters" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WrapperServiceByCustomerNameAndServiceModeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WrapperService" minOccurs="0" name="WrapperServiceByCustomerNameAndServiceModeResult" nillable="true" type="q6:WrapperResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewServiceProxy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element minOccurs="0" name="serviceMethodName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewServiceProxyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>