NW_QP/Service References/AtiWrapperServices/WrapperService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WrapperService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WrapperService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WrapperResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="FailureReason" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="ResultStatus" type="tns:WrapperResult.ATIWrapperServiceStatusEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WrapperResult" nillable="true" type="tns:WrapperResult" />
  <xs:simpleType name="WrapperResult.ATIWrapperServiceStatusEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="MissingPararmeter" />
      <xs:enumeration value="WrapperNotFound" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="WrapperResult.ATIWrapperServiceStatusEnum" nillable="true" type="tns:WrapperResult.ATIWrapperServiceStatusEnum" />
  <xs:simpleType name="ServiceMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Production" />
      <xs:enumeration value="Test" />
      <xs:enumeration value="Development" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ServiceMode" nillable="true" type="tns:ServiceMode" />
</xs:schema>