NWNAutoPay/AtsAPCC/Service References/EnrollCard/EnrollCard1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CardEnrollmentService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CardEnrollmentService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EnrollmentResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="FailureReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultStatus" type="tns:EnrollmentResult.ATIServiceBrokerStatusEnum" />
      <xs:element minOccurs="0" name="transactionId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnrollmentResult" nillable="true" type="tns:EnrollmentResult" />
  <xs:simpleType name="EnrollmentResult.ATIServiceBrokerStatusEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="UpdateTokenFailed" />
      <xs:enumeration value="InvalidToken" />
      <xs:enumeration value="BadEnrollStatus" />
      <xs:enumeration value="BadTransactionData" />
      <xs:enumeration value="TempusBadStatus" />
      <xs:enumeration value="BadTempusCall" />
      <xs:enumeration value="BadAccountOrCard" />
      <xs:enumeration value="Other" />
      <xs:enumeration value="DeactivateCards" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EnrollmentResult.ATIServiceBrokerStatusEnum" nillable="true" type="tns:EnrollmentResult.ATIServiceBrokerStatusEnum" />
</xs:schema>