NWNAutoPay/AtsAPCC/Service References/App_In_Maintenance/Utility.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.activetelesource.com/webservices/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.activetelesource.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.activetelesource.com/webservices/">
      <s:element name="App_In_Maintenance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="App_Name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="App_In_MaintenanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="App_In_MaintenanceResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="App_In_MaintenanceSoapIn">
    <wsdl:part name="parameters" element="tns:App_In_Maintenance" />
  </wsdl:message>
  <wsdl:message name="App_In_MaintenanceSoapOut">
    <wsdl:part name="parameters" element="tns:App_In_MaintenanceResponse" />
  </wsdl:message>
  <wsdl:portType name="UtilitySoap">
    <wsdl:operation name="App_In_Maintenance">
      <wsdl:input message="tns:App_In_MaintenanceSoapIn" />
      <wsdl:output message="tns:App_In_MaintenanceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UtilitySoap" type="tns:UtilitySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="App_In_Maintenance">
      <soap:operation soapAction="http://www.activetelesource.com/webservices/App_In_Maintenance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UtilitySoap12" type="tns:UtilitySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="App_In_Maintenance">
      <soap12:operation soapAction="http://www.activetelesource.com/webservices/App_In_Maintenance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Utility">
    <wsdl:port name="UtilitySoap" binding="tns:UtilitySoap">
      <soap:address location="http://mtdog/IT_Params/Utility.asmx" />
    </wsdl:port>
    <wsdl:port name="UtilitySoap12" binding="tns:UtilitySoap12">
      <soap12:address location="http://mtdog/IT_Params/Utility.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>