NW_QP/PrecompiledWeb/NW_QP/Service References/NwnIvrService/xsd0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="xsd2.xml" namespace="http://schemas.datacontract.org/2004/07/NWNatural.External.CISServices.Models" />
  <xs:import schemaLocation="xsd3.xml" namespace="http://schemas.datacontract.org/2004/07/NWNatural.External.Models" />
  <xs:element name="GetNearestPayStationByZipCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zipCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearestPayStationByZipCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NWNatural.External.CISServices.Models" minOccurs="0" name="GetNearestPayStationByZipCodeResult" nillable="true" type="q1:ArrayOfPayStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearestPayStations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="latitude" type="xs:decimal" />
        <xs:element minOccurs="0" name="longitude" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearestPayStationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NWNatural.External.CISServices.Models" minOccurs="0" name="GetNearestPayStationsResult" nillable="true" type="q2:ArrayOfPayStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgencies">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="district" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgenciesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NWNatural.External.CISServices.Models" minOccurs="0" name="GetAgenciesResult" nillable="true" type="q3:ArrayOfAgency" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPremiseLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="premiseNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPremiseLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NWNatural.External.CISServices.Models" minOccurs="0" name="GetPremiseLocationResult" nillable="true" type="q4:MapLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountOrderStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountNumber" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountOrderStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAccountOrderStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsCreditCardAllowed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountNumber" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsCreditCardAllowedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsCreditCardAllowedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsIVRAvailable">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsIVRAvailableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsIVRAvailableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountByPhoneNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="phoneNumber" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountByPhoneNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/NWNatural.External.Models" minOccurs="0" name="GetAccountByPhoneNumberResult" nillable="true" type="q5:ArrayOfAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>