NW_QP/PrecompiledWeb/NW_QP/Service References/NwnIvrService/xsd2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NWNatural.External.CISServices.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NWNatural.External.CISServices.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPayStation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PayStation" nillable="true" type="tns:PayStation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPayStation" nillable="true" type="tns:ArrayOfPayStation" />
  <xs:complexType name="PayStation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distance" type="xs:decimal" />
      <xs:element minOccurs="0" name="FeeAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PayStation" nillable="true" type="tns:PayStation" />
  <xs:complexType name="ArrayOfAgency">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Agency" nillable="true" type="tns:Agency" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAgency" nillable="true" type="tns:ArrayOfAgency" />
  <xs:complexType name="Agency">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Agency" nillable="true" type="tns:Agency" />
  <xs:complexType name="MapLocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MapLocation" nillable="true" type="tns:MapLocation" />
</xs:schema>