NW_QP/PrecompiledWeb/NW_QP/Service References/NwnIvrService/xsd3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NWNatural.External.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NWNatural.External.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Account" nillable="true" type="tns:Account" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccount" nillable="true" type="tns:ArrayOfAccount" />
  <xs:complexType name="Account">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountNumber" type="xs:decimal" />
      <xs:element minOccurs="0" name="BusinessPhoneNumber" type="xs:decimal" />
      <xs:element minOccurs="0" name="DBAName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Employer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastBillDate" type="xs:decimal" />
      <xs:element minOccurs="0" name="PhoneNumber" type="xs:decimal" />
      <xs:element minOccurs="0" name="StatusCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
</xs:schema>